# .pyc files
############
*.pyc

# .txt files
############
# *.txt

# Socrates source
#################
/socrates/socrates_1806/
/socrates/socrates_1902/

# Model files
#############
current*
profile*
radiation_code.lock

# Old files
old/

# misc
######
*_lbl.nc
*.png
Tprofile.pdf
.DS_Store
__pycache__/
socrates/socrates_main
output
mylog.log
atmosphere.pdf
volatiles_out.dat
surfaceT.dat
out.dat
plotting_tools/old_plot_files/plot_bower_2019_aa.py
plotting_tools/old_plot_files/plot_bower_2019_aa_cases.py
plotting_tools/old_plot_files/plot_rheological_transition.py
plotting_tools/old_plot_files/plot_solid_evolution.py
plotting_tools/old_plot_files/plot_spider.py
plotting_tools/old_plot_files/plot_SPIDER_output.py
plotting_tools/old_plot_files/plot_teqm.py
plotting_tools/old_plot_files/rheological_front_phi.pdf
plotting_tools/old_plot_files/spiderplot_basic.pdf
plotting_tools/old_plot_files/spiderplot_fluxes.pdf
plotting_tools/old_plot_files/spiderplot_matprop.pdf
atm_chemistry.pdf
