[submodule "VULCAN"]
	path = VULCAN
	url = git@github.com:exoclime/VULCAN.git
[submodule "AEOLUS"]
	path = AEOLUS
	url = git@github.com:FormingWorlds/AEOLUS.git
[submodule "SPIDER"]
	path = SPIDER
	url = git@github.com:djbower/spider.git
