# .pyc files
############
*.pyc

# .txt files
############
*.txt

# Socrates source
#################
/socrates/socrates_1806/
/socrates/socrates_1902/

# Model files
#############
current*
profile*
radiation_code.lock

# misc
######
*.png
Tprofile.pdf
.DS_Store
__pycache__/
socrates/socrates_main
