[submodule "vulcan_spider"]
	path = vulcan_spider
	url = git@github.com:shami-EEG/VULCAN-SPIDER.git
[submodule "atm_rad_conv"]
	path = atm_rad_conv
	url = git@github.com:OxfordPlanetaryClimate/soc-rad-conv
[submodule "spider-dev"]
	path = spider-dev
	url = git@bitbucket.org:djbower/spider-dev
