# .pyc files
############
*.pyc

# Model files
#############
current*
profile*
radiation_code.lock

# Old files
old/

# misc
######
*_lbl.nc
*.png
Tprofile.pdf
.DS_Store
__pycache__/
output/*
!output/.gitkeep
mylog.log
atmosphere.pdf
volatiles_out.dat
surfaceT.dat
out.dat
atm_chemistry.pdf
.vscode
init_spider.opts
petsc-double/*
sciath/*
example_runs

