# PROTEUS configuration file (version 2.0)

version = "2.0"

[params]
    [params.out]
        path        = "earth"
        logging     = "INFO"
        plot_mod    = 10
        write_mod   = 2

    [params.dt]
        starspec     = 1e8
        starinst     = 1e2
        minimum      = 1e5
        initial      = 1e5

        [params.dt.adaptive]
            atol         = 0.03
            rtol         = 0.12

    [params.stop]

        [params.stop.time]
            enabled = true
            maximum = 4.44e+9 # 4.54 Gyr minus age_ini

        [params.stop.solid]
            enabled  = false
            phi_crit = 0.005

        [params.stop.radeqm]
            enabled = false
            atol    = 0.1
            rtol    = 1e-3

        [params.stop.escape]
            enabled   = true
            p_stop    = 0.2

[star]
    mass    = 1.0
    age_ini = 0.100

    module  = "mors"
    [star.mors]
        rot_pcntle = 50.0
        age_now = 4.57 # Gyr
        star_name = "sun"
        spectrum_source = "solar"

[orbit]
    semimajoraxis   = 1.0
    eccentricity    = 0.0167
    zenith_angle    = 48.19
    s0_factor       = 0.375
    module  = "none"

[struct]
    radius_int  = 1.0
    corefrac    = 0.55

[atmos_clim]
    surf_state      = "skin"
    rayleigh        = true
    module          = "agni"
    albedo_pl       = 0.0      # test guess, contribution from clouds

    [atmos_clim.agni]
        p_top          = 1e-4
        num_levels     = 40
        dx_max         = 100.0
        sens_heat      = false
        cloud_enabled  = false
        rainout        = false
        oceans         = true
        spectral_group = "Dayspring"
        spectral_bands = "48"
        solution_atol  = 2.0
        ls_default     = 2

[escape]
    module = "zephyrus"

    [escape.zephyrus]
        Pxuv        = 1e-4          # Pressure at which XUV radiation become opaque in the planetary atmosphere [bar]
        efficiency  = 0.15           # Escape efficiency factor
        tidal       = true         # Tidal contribution enabled

[interior]
    radiogenic_heat = false
    tidal_heat      = false

    module = "dummy"

    [interior.dummy]
        ini_tmagma = 3000.0
        H_radio    = 8e-12
        mantle_cp  = 2000.0

    [interior.spider]
        ini_entropy = 2900.0
        num_levels  = 60

[outgas]
    fO2_shift_IW    = 4

    module = "calliope"

[delivery]

    module = "none"

    [delivery.elements]
        H_oceans    = 2.0       # Hydrogen inventory in units of equivalent Earth oceans
        # H_ppmw      = 109.0     # Hydrogen inventory in ppmw relative to mantle mass

        CH_ratio    = 1.0       # C/H mass ratio in mantle/atmosphere system
        # C_ppmw      = 109.0       # Carbon inventory in ppmw relative to mantle mass

        NH_ratio    = 0.018       # N/H mass ratio in mantle/atmosphere system
        # N_ppmw      = 2.01       # Nitrogen inventory in ppmw relative to mantle mass

        SH_ratio    = 2.16       # S/H mass ratio in mantle/atmosphere system
        # S_ppmw      = 235.0     # Sulfur inventory in ppmw relative to mantle mass


[observe]
    synthesis = "none"

[atmos_chem]
    module = "none"
