# PROTEUS configuration file (version 2.0)
version = "2.0"

[params]
    [params.out]
        path        = "agni"
        logging     = "INFO"
        plot_mod    = 0      # Plotting frequency, 0: wait until completion | n: every n iterations
        write_mod   = 50      # Write CSV frequency, 0: wait until completion | n: every n iterations
        archive_mod = 'none'

    [params.dt]
        minimum      = 1e3    # yr, minimum time-step
        maximum      = 3e7    # yr, maximum time-step
        initial      = 1e3    # yr, inital step size
        starspec     = 1e9    # yr, interval to re-calculate the stellar spectrum
        starinst     = 1e1    # yr, interval to re-calculate the instellation
        method       = "adaptive"  # proportional | adaptive | maximum

        [params.dt.adaptive]
            atol         = 0.05   # Step size atol
            rtol         = 0.13   # Step size rtol

    [params.stop]
        # required time constraints
        [params.stop.time]
            enabled = true
            minimum = 1.0e3     # yr, model will certainly run to t > minimum
            maximum = 1e9     # yr, model will terminate when t > maximum

        # solidification
        [params.stop.solid]
            enabled  = false
            phi_crit = 0.005  # non-dim., model will terminate when global melt fraction < phi_crit

        # radiative equilibrium
        [params.stop.radeqm]
            enabled = false
            atol    = 0.2     # absolute tolerance [W m-2]
            rtol    = 1e-3    # relative tolerance

        [params.stop.escape]
            enabled   = true
            p_stop    = 1.0  # bar, model will terminate with p_surf < p_stop


[star]
    mass    = 1.0       # M_sun
    age_ini = 0.100     # Gyr, model initialisation/start age
    module  = "dummy"
    [star.dummy]
        radius  = 1.0       # R_sun
        Teff    = 5772.0    # K

# Orbital system
[orbit]
    semimajoraxis   = 1.0       # AU
    eccentricity    = 0.1       # dimensionless
    zenith_angle    = 48.19     # degrees
    s0_factor       = 0.375     # dimensionless
    axial_period    = 'none'    # hours, or provide 'none' to set as tidally locked

    evolve  = false

    satellite = false
    semimajoraxis_sat = 300e6

    module  = "dummy"

    [orbit.dummy]
        H_tide   = 1e-9     # Fixed tidal power density [W kg-1]
        Phi_tide = "<0.3"   # Tidal heating applied when inequality locally satisfied
        Imk2     = -1e5     # Fixed Im(k2) love number

    [orbit.lovepy]
        visc_thresh = 1e9   # Minimum viscosity required for heating [Pa s]

# Planetary structure - physics table
[struct]
    mass_tot     = 1.0           # Total planet mass [M_earth]
    corefrac     = 0.55          # non-dim., radius fraction
    core_density = 10738.33      # Core density [kg m-3]
    core_heatcap = 880.0         # Core specific heat capacity [J K-1 kg-1]

# Atmosphere - physics table
[atmos_clim]
    surf_state      = "fixed"    # surface scheme: "mixed_layer" | "fixed" | "skin"
    albedo_pl       = 0.2   	# Bond albedo (scattering)
    module  = "agni"           # Which atmosphere module to use
    rayleigh = false

    [atmos_clim.agni]
        verbosity       = 1             # output verbosity for agni (0:none, 1:info, 2:debug)
        p_top           = 1.0e-5        # bar, top of atmosphere grid pressure
        p_obs           = 0.02          # bar, level probed in transmission
        spectral_group  = "Dayspring"   # which gas opacities to include
        spectral_bands  = "16"          # how many spectral bands?
        num_levels      = 40            # Number of atmospheric grid levels
        chemistry       = "none"        # "none" | "eq"
        surf_material   = "greybody"    # surface material file for scattering
        solve_energy    = false          # solve for energy-conserving atmosphere profile
        solution_atol   = 0.5           # solver absolute tolerance
        solution_rtol   = 0.15          # solver relative tolerance
        overlap_method  = "ee"          # gas overlap method
        surf_roughness  = 1e-3          # characteristic surface roughness [m]
        surf_windspeed  = 2.0           # characteristic surface wind speed [m/s].
        rainout         = true          # include volatile condensation/evaporation aloft
        latent_heat     = false         # include latent heat release when `rainout=true`?
        oceans          = true          # form liquid oceans at planet surface?
        convection      = true          # include convective heat transport, with MLT
        conduction      = true          # include conductive heat transport, with Fourier's law
        sens_heat       = true          # include sensible heat flux near surface, with TKE scheme
        real_gas        = false         # use real-gas equations of state
        psurf_thresh    = 0.1           # bar, surface pressure where we switch to 'transparent' mode
        dx_max_ini      = 300.0         # initial maximum temperature step [kelvin] allowed by solver
        dx_max          = 35.0          # maximum temperature step [kelvin] allowed by solver
        max_steps       = 70            # max steps allowed by solver during each iteration
        perturb_all     = true          # updated entire jacobian each step?
        mlt_criterion   = "s"           # MLT convection stability criterion; (l)edoux or (s)chwarzschild
        fastchem_floor        = 150.0   # Minimum temperature allowed to be sent to FC
        fastchem_maxiter_chem = 60000   # Maximum FC iterations (chemistry)
        fastchem_maxiter_solv = 20000   # Maximum FC iterations (internal solver)
        fastchem_xtol_chem    = 1e-4    # FC solver tolerance (chemistry)
        fastchem_xtol_elem    = 1e-4    # FC solver tolerance (elemental)
        ini_profile     = 'isothermal'  # Initial guess for temperature profile shape
        ls_default      = 2             # Default linesearch method (0:none, 1:gs, 2:bt)
        fdo             = 2             # finite-difference order (options: 2, 4)


    [atmos_clim.dummy]
        gamma           = 0.7           # atmosphere opacity between 0 and 1

[escape]

    reservoir = "outgas"  # Escaping reservoir: "bulk", "outgas", "pxuv".
    module = "dummy"     # Which escape module to use
    [escape.dummy]
        rate        = 1e7           # Bulk unfractionated escape rate [kg s-1]

[interior]
    radiogenic_heat = false  # enable radiogenic heat production
    tidal_heat      = false  # enable tidal heat production
    module = "dummy"   # Which interior module to use
    [interior.dummy]
        ini_tmagma      = 3500.0    # Initial magma surface temperature [K]

[outgas]
    fO2_shift_IW    = 2         # log10(Î”IW), atmosphere/interior boundary oxidation state
    module = "calliope"         # Which outgassing module to use

    [outgas.calliope]
        include_NH3 = false

[delivery]

    initial = 'elements'        # "elements" | "volatiles"
    module = "none"

    [delivery.elements]
        H_ppmw      = 3e3     # Hydrogen inventory in ppmw relative to mantle mass
        CH_ratio    = 1.0       # C/H mass ratio in mantle/atmosphere system
        N_ppmw      = 0.0       # Nitrogen inventory in ppmw relative to mantle mass
        SH_ratio    = 1.0       # Sulfur inventory in ppmw relative to mantle mass

[observe]
    synthesis = "none"

[atmos_chem]
    module = "none"
