# PROTEUS configuration file (version 2.0)
version = "2.0"
author  = "Harrison Nicholls, Tim Lichtenberg"

# ----------------------------------------------------
# Parameters
[params]
    # output files
    [params.out]
        path        = "TOI-1807b"
        logging     = "INFO"
        plot_mod    = 1      # Plotting frequency, 0: wait until completion | n: every n iterations
        plot_fmt    = "png"  # Plotting image file format, "png" or "pdf" recommended
        write_mod   = 1      # Write CSV frequency, 0: wait until completion | n: every n iterations

    [params.dt]
        minimum_abs  = 1e1    # yr, minimum time-step
        minimum_rel  = 1e-4
        maximum      = 1e7    # yr, maximum time-step
        initial      = 3e1    # yr, inital step size
        starspec     = 1e9    # yr, interval to re-calculate the stellar spectrum
        starinst     = 1e1    # yr, interval to re-calculate the instellation

    [params.stop]

        # solidification
        [params.stop.solid]
            enabled  = false
            phi_crit = 0.005  # non-dim., model will terminate when global melt fraction < phi_crit


# ----------------------------------------------------
# Star
[star]
    mass    = 0.8       # M_sun
    age_ini = 0.100     # Gyr, model initialisation/start age
    module  = "mors"
    [star.mors]
        rot_pcntle = 50.0       # rotation percentile
        rot_period = "none"     # rotation period [days]
        tracks  = "spada"       # evolution tracks: spada | baraffe
        age_now = 4.567         # current age of star [Gyr]
        spec    = "stellar_spectra/Named/trappist-1.txt" # path to stellar spectrum file

# Orbital system
[orbit]
    semimajoraxis   = 0.012       # AU
    eccentricity    = 0.0       # dimensionless
    zenith_angle    = 48.19     # degrees
    s0_factor       = 0.375     # dimensionless
    module = 'none'

# Planetary structure - physics table
[struct]
    radius_int  = 1.37       # R_earth
    corefrac    = 0.55      # non-dim., radius fraction

# Atmosphere - physics table
[atmos_clim]
    prevent_warming = true      # do not allow the planet to heat up
    surface_d       = 0.01      # m, conductive skin thickness
    surface_k       = 2.0       # W m-1 K-1, conductive skin thermal conductivity
    surf_state      = "fixed"   # surface scheme: "mixed_layer" | "fixed" | "skin"
    rayleigh        = false      # enable rayleigh scattering

    module  = "dummy"           # Which atmosphere module to use

    [atmos_clim.agni]
        p_top           = 1.0e-7        # bar, top of atmosphere grid pressure
        spectral_group  = "Honeyside"   # which gas opacities to include
        spectral_bands  = "48"          # how many spectral bands?
        num_levels      = 40            # Number of atmospheric grid levels
        chemistry       = "none"        # "none" | "eq"
        surf_material   = "greybody"    # surface material file for scattering
        solve_energy    = false         # solve for energy-conserving atmosphere profile
        solution_atol   = 1e-3          # solver absolute tolerance
        solution_rtol   = 2e-2          # solver relative tolerance
        overlap_method  = "ee"          # gas overlap method
        condensation    = false          # volatile condensation
        real_gas        = true          # use real-gas equations of state

    [atmos_clim.dummy]
        gamma           = 0.01           # atmosphere opacity between 0 and 1

# Volatile escape - physics table
[escape]

    module = "none"             # Which escape module to use
    reservoir = "outgas"        # Reservoir that sets escaping gas composition

    [escape.zephyrus]
        Pxuv        = 5e-5          # Pressure at which XUV radiation become opaque in the planetary atmosphere [bar]
        efficiency  = 0.1           # Escape efficiency factor
        tidal       = false         # Tidal contribution enabled

    [escape.dummy]
        rate        = 0.0         # Bulk unfractionated escape rate [kg s-1]

[interior]
    grain_size      = 0.1               # crystal settling grain size [m]
    F_initial       = 1e3               # Initial heat flux guess [W m-2]
    radiogenic_heat = false             # enable radiogenic heat production
    tidal_heat      = false             # enable tidal heat production
    rheo_phi_loc    = 0.4               # Centre of rheological transition
    rheo_phi_wid    = 0.15              # Width of rheological transition
    bulk_modulus    = 260e9             # Bulk modulus [Pa]
    melting_dir     = "Wolf_Bower+2018"     # Liquidus from Monteux+2016 and solidus=liquidus-600

    module = "aragog"   # Which interior module to use

    [interior.spider]
        num_levels      = 60       # Number of SPIDER grid levels
        mixing_length   = 2         # Mixing length parameterization
        tolerance       = 1.0e-10   # solver tolerance
        tsurf_atol      = 30.0      # tsurf_poststep_change
        tsurf_rtol      = 0.02      # tsurf_poststep_change_frac
        ini_entropy     = 2497.0    # Surface entropy conditions [J K-1 kg-1]
        ini_dsdr        = -4.698e-6 # Interior entropy gradient [J K-1 kg-1 m-1]

    [interior.aragog]
        num_levels                      = 50       # Number of Aragog grid levels
        tolerance                       = 1.0e-7   # solver tolerance
        ini_tmagma                      = 2570.0   # Initial magma surface temperature [K]
        inner_boundary_condition        = 3        # 1 = core cooling model, 2=prescribed heatflux, 3 = prescribed temperature
        inner_boundary_value            = 4000     # core temperature [K], if inner_boundary_condition = 3. CMB heat flux [W/m^2], if if inner_boundary_condition = 2
        conduction                      = true     # enable conductive heat transfer
        convection                      = true     # enable convective heat transfer
        gravitational_separation        = true    # enable gravitational separation
        mixing                          = true    # enable mixing
        tsurf_poststep_change           = 5       # threshold of maximum change on surface temperature, compares current and first Tsurf
        event_triggering                = true    # enable events triggering to avoid abrupt jumps in surface temperature


    [interior.dummy]
        ini_tmagma      = 3500.0    # Initial magma surface temperature [K]

# Outgassing - physics table
[outgas]
    fO2_shift_IW    = 5         # log10(Î”IW), atmosphere/interior boundary oxidation state

    module = "calliope"         # Which outgassing module to use

    [outgas.calliope]
        include_H2O  = true     # Include H2O compound
        include_CO2  = true     # Include CO2 compound
        include_N2   = true     # Include N2 compound
        include_S2   = true     # Include S2 compound
        include_SO2  = true    # Include SO2 compound
        include_H2S  = true     # Include H2S compound
        include_NH3  = true     # Include NH3 compound
        include_H2   = true    # Include H2 compound
        include_CH4  = true    # Include CH4 compound
        include_CO   = true    # Include CO compound

# Volatile delivery - physics table
[delivery]

    # Radionuclide parameters
    radio_tref = 4.55   # Reference age for concentrations [Gyr]
    radio_K    = 310.0  # ppmw of potassium (all isotopes)
    radio_U    = 0.031  # ppmw of uranium (all isotopes)
    radio_Th   = 0.124  # ppmw of thorium (all isotopes)

    # Which initial inventory to use?
    initial = 'elements'        # "elements" | "volatiles"

    # No module for accretion as of yet
    module = "none"

    # Set initial volatile inventory by planetary element abundances
    [delivery.elements]
        H_oceans    = 1.0       # Hydrogen inventory in units of equivalent Earth oceans
        #H_ppmw      = 109.0     # Hydrogen inventory in ppmw relative to mantle mass

        CH_ratio    = 1.0       # C/H mass ratio in mantle/atmosphere system
        # C_ppmw      = 0.0       # Carbon inventory in ppmw relative to mantle mass

        # NH_ratio    = 0.0       # N/H mass ratio in mantle/atmosphere system
        N_ppmw      = 1.0       # Nitrogen inventory in ppmw relative to mantle mass

        #SH_ratio    = 2.0       # S/H mass ratio in mantle/atmosphere system
        S_ppmw      = 8     # Sulfur inventory in ppmw relative to mantle mass

    # Set initial volatile inventory by partial pressures in atmosphere
    [delivery.volatiles]
        H2O  = 20.0          # partial pressure of H2O
        CO2  = 30.0          # partial pressure of CO2
        N2   = 0.0          # etc
        S2   = 0.0
        SO2  = 0.0
        H2S  = 0.0
        NH3  = 0.0
        H2   = 0.0
        CH4  = 0.0
        CO   = 0.0

[observe]
    synthesis = "none"

[atmos_chem]
    module = "none"
